<!-- Sección slider de promociones -->
<section class="py-6 px-8 max-w-7xl mx-auto flex flex-col gap-6">
    <div class="text-center ">
        <h2 class="text-[24px] font-bold text-[var(--color-text-default)] tracking-tight text-left">
            Nuestras promociones
        </h2>
    </div>

    <div class="glide" id="PromotionSlider">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
                <li class="glide__slide flex flex-col items-center justify-center  bg-white rounded shadow " >
                    <img src="/temp/promociones/image 1.png" alt="Promoción 1" class="h-full w-auto object-contain" />
                </li>
            </ul>
        </div>
    </div>
</section>

<script type="module">
  const slider = document.querySelector('#PromotionSlider');

  if (slider) {
    new Glide(slider, {
    type: 'slider',
    perView: 1,
    gap: 0,
    hoverpause: true,
    breakpoints: {
      1024: {
        perView: 1
      },
      640: {
        perView: 1
      }
    }
    }).mount();
  }
</script>

