---
interface Props {
  title?: string;
}
import Newsletter from '@components/Newsletter.astro';
import PromotionSlider from '@components/sections/PromotionSlider.astro';
---

<section class="max-w-7xl mx-auto px-4 py-12">
  {Astro.props.title && (
    <h1 class="text-2xl font-bold mb-8 text-[#261819]">
      {Astro.props.title}
    </h1>
  )}

  <div class="flex flex-col lg:flex-row gap-8">
    <!-- SIDEBAR -->
    <aside class="lg:w-64 w-full">
      <slot name="filters" />
    </aside>

    <!-- CONTENT -->
    <div class="flex-1">
      <slot />
    </div>
  </div>
</section>


<!-- Slider de promociones -->
<PromotionSlider />

<!-- Newsletter -->
<Newsletter />

<style>
  body { background-color: var(--color-secondary-light); }
  .heroproductos nav { position: absolute !important; }
</style>