---
interface Props {
  title?: string;
}
---

<section class="max-w-7xl mx-auto px-4 py-12">
  <slot />
</section>
<style>
 body{ background-color: var(--color-secondary-light);}
 .heroproductos nav{ position: absolute!important; }

</style>
