---
import { getProducts } from "@server/api/products";
import Layout from "@layouts/Layout.astro";
import BreadcrumbSchema from '@components/seo/BreadcrumbSchema.astro';
import Breadcrumb from '@components/navigation/Breadcrumb.astro';
import ProductGrid from "@components/product/ProductGrid.astro";
import PLPLayout from "@components/product/PLPLayout.astro";

const products = await getProducts();
---
  <Layout title="Productos">
    <Fragment slot="head">
      <BreadcrumbSchema
      items={[
          { name: 'Inicio', url: 'https://www.medrent.mx' },
          { name: 'Productos', url: 'https://www.medrent.mx/productos' },
      ]}
      />
    </Fragment>


  <section class="relative w-full h-[140px] max-w-7xl mx-auto overflow-hidden">    
      <div class="absolute inset-0 heroproductos">
          <Breadcrumb
          textColor="text-white"
          items={[
              { name: "INICIO", href: "/" },
              { name: "PRODUCTOS" }
          ]}
      />
          <img src="/temp/HeroPLP.png" alt="Todos los productos" class="w-full h-full object-cover rounded-b-[24px]" />
      </div>
  </section>

  <PLPLayout title="Productos">
    <ProductGrid products={products} />
  </PLPLayout>
</Layout>