---
import "../styles/global.css"; 
const canonical = new URL(Astro.url.pathname, Astro.site).toString();
const { title } = Astro.props;

import { SITE } from '@lib/site';
const site = SITE;
import Upperbar from "@components/layout/header/Upperbar.astro";
import Footer from "@components/layout/footer/Footer.astro";
import Navbar from "@components/layout/header/Navbar.astro";
import StickyCta from "@components/layout/overlays/StickyCta.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="google-site-verification" content="bfDcp6cDny991Jfo6sn0-XdBnk7ZsE_uMlqxZuBNDBY" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={canonical} />
    <title>{title ?? 'Mi sitio'}</title>

    <!-- Google Tag Manager -->
    <script is:inline>
      (function(w,d,s,l,i){
        w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PH4DRF6B');
    </script>
    <!-- End Google Tag Manager -->
    
    <slot name="metas" /> 
    <slot name="head" />

    <!-- Required Core stylesheet | https://github.com/glidejs/glide -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <!-- Optional Theme stylesheet | https://github.com/glidejs/glide/dist/css/glide.theme.min.css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
    <!-- Glide JS -->
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/glide.min.js"></script>
  </head>
  
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-PH4DRF6B"
        height="0"
        width="0"
        style="display:none;visibility:hidden">
      </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <Upperbar site={site} />
    <Navbar site={site}/>
    <slot />
    <StickyCta />
    <Footer site={site}/>
  </body>
</html>