---
import "../styles/global.css"; 
const canonical = new URL(Astro.url.pathname, Astro.site).toString();
const { title } = Astro.props;

import Upperbar from "@components/layout/header/Upperbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={canonical} />
    <title>{title ?? 'Mi sitio'}</title>
    
    <slot name="metas" /> 
    <slot name="head" />
  </head>
  
  <body>
    <Upperbar />
    <div class="bg-red-500 text-white p-4">
      Tailwind is workingd
    </div>
  </body>
</html>