---
import "../styles/global.css"; 
const canonical = new URL(Astro.url.pathname, Astro.site).toString();
const { title } = Astro.props;

import { SITE } from '@lib/site';
const site = SITE;
import Upperbar from "@components/layout/header/Upperbar.astro";
import Footer from "@components/layout/footer/Footer.astro";
import Navbar from "@components/layout/header/Navbar.astro";
import StickyCta from "@components/layout/overlays/StickyCta.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={canonical} />
    <title>{title ?? 'Mi sitio'}</title>
    
    <slot name="metas" /> 
    <slot name="head" />

    <!-- Required Core stylesheet | https://github.com/glidejs/glide -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <!-- Optional Theme stylesheet | https://github.com/glidejs/glide/dist/css/glide.theme.min.css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
    <!-- Glide JS -->
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/glide.min.js"></script>
  </head>
  
  <body>
    <Upperbar />
    <Navbar />
    <slot />
    <StickyCta />
    <Footer site={site}/>
  </body>
</html>